In [85]:
import numpy as np
import pandas as pd
import csv

In [86]:
df = pd.read_csv('../data/rent.csv')

In [87]:
df.head()

  community                             mode  money place        type1
0     深业塞纳湾             整租 | 万达广场附近 塞纳湾 2房出租   1800  东源城区   2室     78㎡
1    霸王花月亮湾         整租 | 东源 霸王花月亮湾 3房出租 拎包入住   2200  东源城区  3室     120㎡
2    和平1号花园  整租 | 出租和平一号电梯中高层，三房两厅，带家具家电，拎包入   1500  和平城区  3室     100㎡
3     和平碧桂园  整租 | 高档小区碧桂园4房2厅，精装修，家具家电齐全 拎包入   2400  和平城区  4室     140㎡
4      华城国际  整租 | 出租华城国际，1800包物业，3房2厅，带家具家电，   1600  和平城区  3室     135㎡

In [88]:
df = df.drop(['mode'], axis=1)

In [89]:
df.head()

  community  money place        type1
0     深业塞纳湾   1800  东源城区   2室     78㎡
1    霸王花月亮湾   2200  东源城区  3室     120㎡
2    和平1号花园   1500  和平城区  3室     100㎡
3     和平碧桂园   2400  和平城区  4室     140㎡
4      华城国际   1600  和平城区  3室     135㎡

In [90]:
df = df.rename(columns={'community':'楼盘','money':'月租/元','place':'城区','type1':'面积/m²'})

In [91]:
df["居室"]=0
df.head(10)

         楼盘  月租/元    城区           面积/m²  居室
0     深业塞纳湾  1800  东源城区      2室     78㎡   0
1    霸王花月亮湾  2200  东源城区     3室     120㎡   0
2    和平1号花园  1500  和平城区     3室     100㎡   0
3     和平碧桂园  2400  和平城区     4室     140㎡   0
4      华城国际  1600  和平城区     3室     135㎡   0
5      江山一品  2500  源城城区  3室     108.61㎡   0
6  碧桂园东江凤凰城  1000  源城城区   2室     86.00㎡   0
7       龙光城  1200  源城城区   3室     87.25㎡   0
8    和平中心花园  1100  和平城区     3室     120㎡   0
9      坚基公馆  1600  源城城区      2室     85㎡   0

In [92]:
centent1 = []
for i in range(len(df)):
    one = df['面积/m²'][i].replace("\xa0","").split(' ')
    o = one[0]
    centent1.append(o)
df['居室'] = centent1

In [94]:
df.head()

       楼盘  月租/元    城区        面积/m²  居室
0   深业塞纳湾  1800  东源城区   2室     78㎡  4室
1  霸王花月亮湾  2200  东源城区  3室     120㎡  4室
2  和平1号花园  1500  和平城区  3室     100㎡  4室
3   和平碧桂园  2400  和平城区  4室     140㎡  4室
4    华城国际  1600  和平城区  3室     135㎡  4室

In [115]:
centent2 = []
for i in range(len(df)):
    a = df['面积/m²'][i].replace("\xa0","").split(' ')
    s = a[1]
    centent2.append(s)
df['面积/m²'] = centent2
# print(centent2)

In [116]:
df.head()

       楼盘  月租/元    城区 面积/m²  居室
0   深业塞纳湾  1800  东源城区   78㎡  4室
1  霸王花月亮湾  2200  东源城区  120㎡  4室
2  和平1号花园  1500  和平城区  100㎡  4室
3   和平碧桂园  2400  和平城区  140㎡  4室
4    华城国际  1600  和平城区  135㎡  4室