In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('../data/secondary_clear.xlsx')

In [3]:
df.head()

   朝向  每平方（元）     小区名字    城区 楼层位置     面积  建造时间    总价      格局
0   南    7046    龙光玖云台  东源城区   中层   88.0  2019  62.0  3室2厅2卫
1   南    3922     恒大雅苑  源城城区   低层  102.0  2018  40.0  3室2厅1卫
2  南北    7208    龙光玖誉湖  源城城区   低层  111.0  2020  80.0  3室2厅2卫
3   南    5186  碧桂园凤凰名筑  东源城区   中层  108.0  2021  56.0  3室2厅2卫
4  南北    5748    敏捷悦江府  源城城区   中层   87.0  2018  50.0  3室2厅2卫

In [7]:
chaoxiangNum = df['朝向'].value_counts()
chaoxiang_type = list(chaoxiangNum.index)
chaoxiang_counts = chaoxiangNum.tolist()
print(chaoxiangNum)
print(chaoxiang_type)
print(chaoxiang_counts)

南     978
南北    963
东南    213
西南     73
东      68
东北     61
北      60
西北     31
西      20
东西      6
Name: 朝向, dtype: int64
['南', '南北', '东南', '西南', '东', '东北', '北', '西北', '西', '东西']
[978, 963, 213, 73, 68, 61, 60, 31, 20, 6]

In [9]:
xiaoquNum = df['小区名字'].value_counts()
xiaoqu_type = list(xiaoquNum.index)[:18]
xiaoqu_counts = xiaoquNum.tolist()[:18]
print(xiaoquNum)
print(xiaoqu_type)
print(xiaoqu_counts)

雅居乐花园       149
万达广场         87
龙光城          80
雅居乐花园新地      69
十里东岸         60
敏捷悦江府        50
碧桂园东江凤凰城     47
雅居乐君悦        46
中昂祥云府        45
碧桂园凤凰湾       42
宝豪御龙湾二期      41
汇景外滩8号       40
碧桂园未来城       40
雅居乐金麟府       39
东江首府         35
东江湾名门世家      34
吉祥佳居         31
龙光玖云台        30
汇景九里湾        29
河源美的城        28
万绿春天         26
恒大雅苑         26
兴业城          24
时代倾城         24
万隆一品         22
坚基美丽城        21
坚基公馆         20
华达新城         20
泰和江畔城市主场     20
美的云筑         19
           ...
永乐花园          1
佳和豪庭          1
滨江苑           1
大同南路住宅        1
德润华府          1
顺景花园          1
阳光波尔登         1
宇乐花园          1
德欣豪庭          1
永和兴花园         1
德兴苑           1
丁香居           1
城市中心花苑        1
安群小区          1
润泽居           1
霸王花月亮湾        1
金发小康花园        1
恒丰花园          1
星河湾畔          1
华业阁           1
明和苑           1
富达居           1
保利堂悦林语        1
佳和花园          1
胜业苑           1
万隆城           1
振兴楼           1
石塘安置小区        1
宝田花园          1
广晟学府花园        1
Name: 小区名字, Length: 347, dtype: int64
['雅居乐花园', '万达广场', '龙光城', '雅居乐花园新地', '十里东岸', '敏捷悦江府', '碧桂园东江凤凰城', '雅居乐君悦', '中昂祥云府', '碧桂园凤凰湾', '宝豪御龙湾二期', '汇景外滩8号', '碧桂园未来城', '雅居乐金麟府', '东江首府', '东江湾名门世家', '吉祥佳居', '龙光玖云台']
[149, 87, 80, 69, 60, 50, 47, 46, 45, 42, 41, 40, 40, 39, 35, 34, 31, 30]

In [12]:
priceNum = df['每平方（元）'].groupby(df['小区名字']).mean().reset_index().sort_values('每平方（元）', ascending=False).reset_index(drop=True)
price_names = priceNum['小区名字'].tolist()[:10]
price_counts = priceNum['每平方（元）'].tolist()[:10]
print(priceNum)
print(price_names)
print(price_counts)

            小区名字        每平方（元）
0            公园里  12035.000000
1            东江湾  11571.555556
2           江湾明珠  11162.750000
3           泰和龙岸  10163.285714
4            天和城  10054.388889
5        东江湾名门世家   9511.794118
6         时代国际名苑   9101.000000
7            万隆城   9091.000000
8         汇景外滩8号   8799.375000
9          龙光玖龙府   8752.000000
10          坚基公馆   8639.500000
11        碧桂园凤凰湾   8546.261905
12         坚基美好城   8529.411765
13          时代花园   8515.000000
14        碧桂园凤凰山   8513.666667
15         华达财富港   8493.000000
16        雅居乐御宾府   8413.333333
17          华达新城   8396.200000
18         坚基美丽城   8375.952381
19        帝豪国际花园   8365.500000
20         龙川碧桂园   8333.000000
21          东江首府   8291.085714
22        泰和中央公园   8253.750000
23          康德名都   8245.000000
24          理想家园   8225.500000
25          万隆一品   8166.727273
26           鸿大城   8015.444444
27      泰和江畔城市主场   7989.850000
28          公园国际   7943.454545
29         阳光波尔登   7934.000000
..           ...           ...
317         泰华小区   3805.000000
318       东江1号公馆   3795.600000
319         全盈小区   3783.000000
320         昌盛花园   3772.750000
321        中泰金泽苑   3754.833333
322       大同南路住宅   3744.000000
323         鸿福大厦   3724.000000
324         利信花园   3686.000000
325         官福大厦   3626.000000
326          竹园楼   3580.000000
327    新城规划区2号小区   3482.000000
328         幸福家园   3481.666667
329         青联小区   3410.000000
330         富景小区   3376.666667
331         学府花园   3366.000000
332         兴华家园   3365.000000
333         怡景大厦   3276.000000
334        教育路新村   3200.000000
335         金桥大厦   3171.000000
336         相印花园   3161.583333
337          俊园轩   3157.666667
338         龙湖小区   3146.000000
339         茶园小区   3138.000000
340         东方名座   2925.000000
341          鸿福苑   2886.000000
342          金穗楼   2667.000000
343  四耳桥东巷34号住宅楼   2633.000000
344       万绿商业广场   2445.000000
345    果园路17号住宅楼   2280.500000
346         彭嶂豪庭   2192.000000

[347 rows x 2 columns]
['公园里', '东江湾', '江湾明珠', '泰和龙岸', '天和城', '东江湾名门世家', '时代国际名苑', '万隆城', '汇景外滩8号', '龙光玖龙府']
[12035.0, 11571.555555555555, 11162.75, 10163.285714285714, 10054.388888888889, 9511.79411764706, 9101.0, 9091.0, 8799.375, 8752.0]

In [14]:
moneyNum = df['总价'].groupby(df['小区名字']).mean().reset_index().sort_values('总价', ascending=False).reset_index(drop=True)
money_names = moneyNum['小区名字'].tolist()[:10]
money_counts = moneyNum['总价'].tolist()[:10]
print(moneyNum)
print(money_names)
print(money_counts)

            小区名字          总价
0            东江湾  300.222222
1            公园里  278.000000
2          阳光波尔登  238.000000
3        东江湾名门世家  219.547059
4           泰和龙岸  207.400000
5           江湾明珠  199.733333
6           东江首府  151.362857
7            天和城  146.794444
8         帝豪国际花园  138.950000
9         碧桂园凤凰山  137.342222
10          华达新城  135.375000
11        碧桂园凤凰湾  134.716667
12         坚基美好城  133.858824
13          源江华庭  127.000000
14         华达凯旋城  123.333333
15        汇景外滩8号  120.850000
16           鸿大城  115.666667
17        万隆公园壹号  111.971429
18          万隆一品  109.077273
19          佳和豪庭  108.000000
20          康德名都  108.000000
21         华达财富港  107.000000
22        泰和中央公园  106.500000
23          理想家园  105.433333
24        时代国际名苑  103.563636
25          源江豪庭  102.933333
26         家和江畔湾  102.133333
27         雅居乐君悦  101.591304
28        家和水岸沁园  101.400000
29         龙川碧桂园  100.920000
..           ...         ...
317          俊园轩   38.800000
318         怡景大厦   38.000000
319         汇龙小区   37.800000
320         昌盛花园   37.050000
321         龙湖小区   36.800000
322       万厦虹景花园   36.800000
323         富景小区   36.533333
324         东方名座   36.250000
325          竹园楼   35.800000
326  四耳桥东巷34号住宅楼   35.800000
327         青联小区   35.800000
328         学府花园   35.000000
329         泰华小区   35.000000
330          万隆城   35.000000
331        房管局宿舍   33.800000
332         相印花园   33.433333
333        教育路新村   32.000000
334         彭嶂豪庭   32.000000
335         幸福家园   30.800000
336          民兴楼   30.000000
337         裕隆花园   29.800000
338         兴华家园   28.600000
339    果园路17号住宅楼   28.400000
340          鸿福苑   28.300000
341        中泰金泽苑   28.083333
342         茶园小区   26.800000
343         顺和名苑   24.471429
344         金色领地   23.000000
345       万绿商业广场   22.000000
346          金穗楼   20.000000

[347 rows x 2 columns]
['东江湾', '公园里', '阳光波尔登', '东江湾名门世家', '泰和龙岸', '江湾明珠', '东江首府', '天和城', '帝豪国际花园', '碧桂园凤凰山']
[300.22222222222223, 278.0, 238.0, 219.54705882352943, 207.4, 199.73333333333335, 151.36285714285717, 146.79444444444442, 138.95, 137.3422222222222]

In [19]:
areaNum = df['面积'].groupby(df['小区名字']).mean().reset_index().sort_values('面积', ascending=False).reset_index(drop=True)
area_names = areaNum['小区名字'].tolist()[:10]
area_counts = areaNum['面积'].tolist()[:10]
print(areaNum)
print(area_names)
print(area_counts)

        小区名字          面积
0      阳光波尔登  300.000000
1        东江湾  253.277778
2    东江湾名门世家  236.058824
3        公园里  231.000000
4       泰和龙岸  203.857143
5       源江华庭  182.000000
6       江景华庭  181.000000
7       东江首府  180.711429
8       江湾明珠  177.166667
9     帝豪国际花园  166.100000
10     华达凯旋城  165.800000
11      宇乐花园  165.000000
12       三友苑  165.000000
13    阳光水榭花园  165.000000
14    万隆公园壹号  164.171429
15      祥盛花园  164.000000
16      华达新城  163.400000
17      佳和雅苑  163.000000
18      泰和花园  162.000000
19   和福花园三友邨  159.000000
20    碧桂园凤凰山  158.111111
21      佳和豪庭  158.000000
22    碧桂园凤凰湾  157.257143
23     坚基美好城  156.641176
24      东方国际  154.450000
25       新河湾  153.000000
26      大地广场  153.000000
27      顺景花园  153.000000
28      华怡小区  152.000000
29       幸福里  151.000000
..       ...         ...
317      雅香苑   92.200000
318     泰华小区   92.000000
319      新达居   91.666667
320      朱门亭   91.500000
321      华业阁   90.000000
322   万绿商业广场   90.000000
323    坚基风光里   89.642857
324     幸福家园   88.666667
325  东方比华利山庄   88.636364
326     汇龙小区   88.000000
327     友诚花园   87.550000
328    比华利山庄   87.210000
329     保险宿舍   87.000000
330     润和家园   86.000000
331     福新大厦   85.500000
332     茶园小区   85.400000
333     兴华家园   85.000000
334   万厦虹景花园   82.500000
335     安群小区   81.000000
336    中骏世界城   77.240000
337     裕隆花园   76.000000
338      金穗楼   75.000000
339    中泰金泽苑   74.600000
340      民兴楼   74.000000
341    房管局宿舍   72.000000
342     东江豪苑   69.400000
343     顺和名苑   63.571429
344     坚基公馆   47.500000
345      万隆城   38.500000
346     金色领地   29.500000

[347 rows x 2 columns]
['阳光波尔登', '东江湾', '东江湾名门世家', '公园里', '泰和龙岸', '源江华庭', '江景华庭', '东江首府', '江湾明珠', '帝豪国际花园']
[300.0, 253.27777777777777, 236.05882352941177, 231.0, 203.85714285714286, 182.0, 181.0, 180.71142857142854, 177.16666666666666, 166.1]

In [17]:
timeNum = df['建造时间'].value_counts()
timeSx = df['建造时间']
print(timeNum)
print(timeSx)

2018    439
2019    292
2015    274
2021    248
2016    241
2020    216
2017    168
2010    115
2012     98
2013     91
2014     63
2008     47
2011     38
2009     28
2007     24
2006     21
2005     17
2000     16
1992      6
2001      5
2002      5
1998      5
1996      5
1997      4
2003      2
2022      1
1995      1
1999      1
2004      1
1990      1
Name: 建造时间, dtype: int64
0       2019
1       2018
2       2020
3       2021
4       2018
5       2018
6       2020
7       2018
8       2018
9       2015
10      2018
11      2021
12      2018
13      2021
14      2016
15      2018
16      2011
17      2021
18      2020
19      2019
20      2019
21      2021
22      2020
23      2015
24      2018
25      2019
26      2017
27      2018
28      2013
29      2020
        ...
2443    2016
2444    2014
2445    2009
2446    2010
2447    2015
2448    2015
2449    2012
2450    2013
2451    2008
2452    2009
2453    2010
2454    2015
2455    2017
2456    2012
2457    2015
2458    2018
2459    2011
2460    2014
2461    2015
2462    2009
2463    1997
2464    2010
2465    2005
2466    2020
2467    2005
2468    2019
2469    2017
2470    2016
2471    2018
2472    2006
Name: 建造时间, Length: 2473, dtype: int64

In [21]:
chengquNum = df['城区'].value_counts()
chengqu_type = list(chengquNum.index)
chengqu_counts = chengquNum.tolist()
print(chengquNum)
print(chengqu_type)
print(chengqu_counts)

源城城区    1708
东源城区     458
龙川城区     191
紫金城区      75
和平城区      41
Name: 城区, dtype: int64
['源城城区', '东源城区', '龙川城区', '紫金城区', '和平城区']
[1708, 458, 191, 75, 41]

In [18]:
loucengNum = df['楼层位置'].value_counts()
louceng_type = list(loucengNum.index)
louceng_counts = loucengNum.tolist()

print(loucengNum)
print(louceng_type)
print(louceng_counts)

中层    1147
低层     684
高层     641
地下       1
Name: 楼层位置, dtype: int64
['中层', '低层', '高层', '地下']
[1147, 684, 641, 1]

In [5]:
priceNum = df['每平方（元）'].groupby(df['城区']).mean().reset_index().sort_values('每平方（元）', ascending=False).reset_index(drop=True)
price_names = priceNum['城区'].tolist()
price_counts = priceNum['每平方（元）'].tolist()
print(priceNum)
print(price_names)
print(price_counts)

     城区       每平方（元）
0  紫金城区  7338.026667
1  源城城区  6799.544496
2  东源城区  5748.275109
3  龙川城区  5166.434555
4  和平城区  4182.902439
['紫金城区', '源城城区', '东源城区', '龙川城区', '和平城区']
[7338.026666666667, 6799.544496487119, 5748.275109170306, 5166.434554973822, 4182.90243902439]